.check-box {
    display: flex;
    padding: 3px 0;
    font-size: 13px;
}

.check-box-element {
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
}

.check-box-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.check-box-disabled input[type=checkbox] {
    cursor: not-allowed;
}